<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{% if title == "Corbin Davenport" %}
		<title>Corbin Davenport</title>
	{% else %}
		<title>{{ title }} - Corbin Davenport</title>
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="canonical" href="https://corbin.io{{ page.url }}" />
	<link rel="icon" type="image/png" href="/media/icon_x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/media/icon_x64.png" sizes="64x64">
	<link rel="icon" type="image/png" href="/media/icon_x128.png" sizes="128x128">
	<!-- Opt out of AI training -->
	<meta name="bingbot" content="noarchive">
	<meta name="amazonbot" content="noarchive">
	<!-- Styles -->
	<link rel="stylesheet" href="/media/styles.css">
	</style>
	<meta name="supported-color-schemes" content="dark light">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#3a4d3f">
    <meta name="theme-color" content="#5A7863">
	<!-- Analytics -->
	<script defer data-domain="corbin.io" src="https://plausible.io/js/plausible.js"></script>
	<!-- OpenGraph and meta description -->
	{% if excerpt %}
		<meta name="description" content="{{ excerpt }}">
		<meta property="og:description" content="{{ excerpt }}">
	{% else %}
		<meta name="description" content="Corbin Davenport is a software developer, writer, and podcast host. He has worked at SerpApi, How-To Geek, XDA Developers, and other places.">
		<meta property="og:description" content="Corbin Davenport is a software developer, writer, and podcast host. He has worked at SerpApi, How-To Geek, XDA Developers, and other places.">
	{% endif %}
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:url" content="https://corbin.io{{ page.url }}" />
	{% if tags and "post" in tags %}
		<meta property="og:type" content="article" />
		<meta property="article:author" content="https://corbin.io/about" />
	{% else %}
		<meta property="og:type" content="website">
	{% endif %}
	{% if date %}
		<meta property="article:published_time" content="{{ page.date | isoDate }}">
	{% endif %}
	<!-- Web Monetization: https://webmonetization.org/ -->
	<link rel="monetization" href="https://corbin.io/support" />
	<!-- Fediverse creator tag: https://rknight.me/blog/setting-up-mastodon-author-tags -->
	<meta name="fediverse:creator" content="@corbin@social.corbin.io" />
	<!-- RSS feeds -->
	<!-- <link rel="alternate" type="application/rss+xml" title="Blog" href="https://corbin.io/feed.xml" /> -->
	<link rel="alternate" type="application/rss+xml" title="Blog" href="https://blog.corbin.io/rss" />
	<link rel="alternate" type="application/rss+xml" title="The Spacebar" href="https://www.spacebar.news/feed" />
	<link rel="alternate" type="application/rss+xml" title="Tech Tales Podcast" href="https://feeds.soundcloud.com/users/soundcloud:users:971533159/sounds.rss" />
</head>

<body>
	<header>
		<nav aria-label="Primary navigation">
			<ul>
				<li class="title"><a href="/">Corbin Davenport</a></li>
				<!-- <li><a href="/blog">Blog</a></li> -->
				<li><a href="/about">About</a></li>
				<li><a href="/software">Software</a></li>
				<li><a href="/podcast">Tech Tales</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>

	<main>
		{% if tags and "post" in tags %}
			<div class="note">This is the new home of <b>blog.corbin.io</b>. Please update your bookmarks and RSS feeds!</div>
			<h1 class="blog-title">{{ title }}</h1>
			{% if excerpt %}
				<h4>{{ excerpt }}</h4>
			{% endif %}
			<p>{{ page.date | longDate }}</p>
		{% elseif not isindex %}
			<h1 class="page-title">{{ title }}</h1>
		{% endif %}

		{{ content | safe }}

		{% if tags and "post" in tags %}
			<div class="note">You can follow this blog on <a href="https://corbin.io/feed.xml">RSS</a>, or follow my personal accounts on <a href="https://bsky.app/profile/corbin.io" target="_blank">Bluesky</a>, <a href="https://social.corbin.io/@corbin" target="_blank">Fediverse/Mastodon</a>, or <a href="https://www.linkedin.com/in/corbindavenport/" target="_blank">LinkedIn</a>.</div>
		{% endif %}
	</main>

</body>

</html>