---
title: Corbin Davenport
---

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
	{% if title == "Corbin Davenport" %}
		Corbin Davenport
	{% else %}
		{{ title }} - Corbin Davenport
	{% endif %}
	</title>
	<meta name="description" content="Corbin Davenport is a software developer, writer, and podcast host. He has worked at How-To Geek, XDA Developers, PC Gamer, and other places.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="corbin, davenport, corbin davenport">
	<meta name="language" content="English">
	<link rel="icon" type="image/png" href="/media/icon_x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/media/icon_x64.png" sizes="64x64">
	<link rel="icon" type="image/png" href="/media/icon_x128.png" sizes="128x128">
	<!-- Styles -->
	<link rel="stylesheet" href="/media/styles.css">
	</style>
	<meta name="supported-color-schemes" content="dark light">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#3a4d3f">
    <meta name="theme-color" content="#5A7863">
	<!--[if lte IE 8]>
	<script>
	document.createElement('main'); 
	document.createElement('nav'); 
	</script>
	<![endif]-->
	<!-- Analytics -->
	<script defer data-domain="corbin.io" src="https://plausible.io/js/plausible.js"></script>
	<!-- Embed card for social media and messaging -->
    <meta property="og:site_name" content="Corbin Davenport">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="Corbin Davenport is a software developer, writer, and podcast host. He has worked at How-To Geek, XDA Developers, PC Gamer, and other places.">
    <meta property="og:image" content="https://corbin.io/media/card.png">
    <meta name="og:image:alt" content="Happy Mac icon" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="Corbin Davenport is a software developer, writer, and podcast host. He has worked at How-To Geek, XDA Developers, PC Gamer, and other places.">
    <meta name="twitter:image" content="https://corbin.io/media/card.png">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
	<!-- RSS feeds -->
	<link rel="alternate" type="application/rss+xml" title="Corbin's blog" href="https://blog.corbin.io/rss" />
	<link rel="alternate" type="application/rss+xml" title="The Spacebar" href="https://www.spacebar.news/feed" />
	<link rel="alternate" type="application/rss+xml" title="Tech Tales Podcast" href="https://feeds.soundcloud.com/users/soundcloud:users:971533159/sounds.rss" />
</head>

<body>
	<header>
		<h1>Corbin Davenport</h1>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/software">Software</a>
			<a href="/podcast">Tech Tales</a>
			<a href="/contact">Contact</a>
		</nav>
    </header>

	<main>
		{% if title != "Corbin Davenport" %}
		<h1 class="page-title">{{ title }}</h1>
		{% endif %}
		{{ content | safe }}
	</main>

</body>

</html>