/* Animations */

@keyframes fadein {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Main styles */

body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    color: #424242;
    font-family: "MS Sans Serif", "Geneva", sans-serif;
    font-size: 21px;
    line-height: 30px;
}

main {
    display: block;
    /* This is needed for IE and other old browsers */
    margin: 0 auto;
    max-width: 870px;
    padding: 15px 15px 50px 15px;
    animation: fadein 0.5s;
}

a {
    color: #03A9F4;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #01579B;
    text-decoration: underline;
}

a,
img {
    /* Fix image and link outlines in legacy web browsers */
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* Fix broken line height on headers */
    line-height: initial;
}

/* Navigation bar */

nav {
    display: block;
    /* This is needed for IE and other old browsers */
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 10;
    display: block;
    padding: 15px;
    margin-bottom: 60px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    list-style-type: none;
    margin: 0 5px;
}

nav ul li a {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background: #424242;
    -webkit-border-radius: 20px;
    /* For older WebKit-based browsers */
    -moz-border-radius: 20px;
    /* For older Firefox browsers */
    border-radius: 20px;
    color: #FFF;
    padding: 0 20px;
    margin-bottom: 5px;
}

a:focus {
    outline: 2px solid #03A9F4;
    outline-offset: 2px;
    transition: none;
    text-decoration: none;
}

nav ul li a:focus {
    outline-offset: 0px;
}

nav ul li a:hover {
    color: #03A9F4;
    filter: drop-shadow(0px 3px 0px #03A9F4);
    text-decoration: none;
}

a.btn-container img {
    margin-right: 15px;
    height: 60px;
    width: auto;
    border: 3px solid #424242;
    -webkit-border-radius: 10px; /* For older WebKit-based browsers */
    -moz-border-radius: 20px; /* For older Firefox browsers */
    border-radius: 10px;
    transition: 0.3s;
}

a.btn-container img:hover {
    border-color: #03A9F4;
}

.profile-photo {
    float: right;
    border-radius: 50%;
    width: 25%;
    margin: 0 0 25px 25px;
    border: 3px solid #424242;
}

/* Flickr image gallery */

.fickr-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px 20px;
}

.fickr-images a {
    flex-grow: 1;
}

.fickr-images a img {
    width: 100%;
    border-radius: 10px;
}

/* Smaller desktop and tablet screens */

@media screen and (max-width: 800px) {

    body {
        font-size: 18px;
    }

    nav {
        margin-bottom: 20px;
    }

}

/* Smaller screens in landscape mode */

@media screen and (max-height: 500px) {

    nav {
        margin-bottom: 0;
    }

    main {
        padding-top: 0;
    }

}

/* Compact screens */

@media screen and (max-width: 600px) {

    nav {
        padding: 10px;
        margin-bottom: 0;
    }

    nav ul {
        text-align: left;
    }

    nav ul li {
        margin: 0 2px;
    }

    nav ul li a {
        font-size: 16px;
        height: 30px;
        line-height: 30px;
    }

}

/* Dark mode support */

@media (prefers-color-scheme: dark) {

    body,
    nav {
        background-color: #262626;
        color: #FAFAFA;
    }

    a:hover,
    nav ul li a:hover {
        color: #9adefe;
    }

}


/* Disable animations on user request */

@media (prefers-reduced-motion: reduce) {

    main {
        animation: none !important;
    }

    a {
        transition: 0ms !important;
    }

}