/* Root variables and animations */

:root {
    --text-color: #424242;
    --primary-bg: #FAFAFA;
    --secondary-bg: #6FCF97;
    --link-color: #4C8CE4;
    --link-hover-color: #3c70b9;
    --border-radius: 1rem;
}

/* Main document */

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--primary-bg);
    font-family: Tahoma, sans-serif;
    font-size: 1.15rem;
    line-height: 1.5;
    color: var(--text-color);
}

main {
    max-width: 720px;
    margin: 0 auto;
}

main {
    padding: 1rem 1rem 2rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, sans-serif;
}

a {
    color: var(--link-color);
    transition: 0.3s;
}

a:hover {
    color: #406093;
}

a,
img {
    border: none;
    outline: none;
}

@media (min-width: 768px) {
    main {
        padding: 3rem 1rem 2rem 1rem;
    }

    h1.page-title {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
}

/* Header and navigation */

.header-container {
    max-width: 920px;
    margin: 0 auto;
    z-index: 100;
}

header {
    margin: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    background: var(--secondary-bg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: #FFF;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
}

header a {
    color: #FFF;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

header a:last-of-type {
    margin-right: 0;
}

header a:hover,
header a:hover {
    color: #FFF;
    text-decoration: underline;
}

/* Software buttons */

a.img-btn img {
    margin-right: 0.5rem;
    height: 40px;
    width: auto;
    border: 2px solid var(--link-color);
    transition: 0.3s;
    border-radius: var(--border-radius);
}

table {
    width: 100%;
}

a.img-btn img:hover {
    border-color: #406093;
}

/* Flickr image gallery */

.flickr-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.flickr-container a {
    display: inline-flex;
    flex-grow: 1;
    flex-basis: 200px;
}

.flickr-container a img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

/* Reviews page */

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
}

th,
td.review-name,
td.review-date,
td.review-score {
    padding: 0.5rem;
}

th {
    text-align: left;
}

thead,
tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

td.review-site img {
    width: 32px;
    height: 32px;
    border-radius: 0.25rem;
    vertical-align: middle;
    margin-left: 0.5rem;
}

audio {
    margin-top: 1rem;
    width: 100%;
}

/* Medium devices */

@media (min-width: 768px) {

    .header-container {
        position: sticky;
        top: 1rem;
    }

    a.img-btn img {
        height: 60px;
    }
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
    :root {
        --primary-bg: #262626;
        --secondary-bg: #1F6F5F;
        --text-color: #FFFFFF;
    }
}