---
title: Blog Posts
permalink: "blog/index.html"
---

<p><i>This migration is still a work in progress!</i></p>

{% for post in collections.post | reverse %}
    <p>
    <b><a href="{{post.url}}">{{ post.data.title }}</a></b> - {{ post.date | shortDate }}
    {% if "excerpt" in post.data %}
        <br />{{ post.data.excerpt }}
    {% endif %}
    </p>
{% endfor %}